@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="697d02a9-65dd-8d45-8c61-f13fd234974d"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf30"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf31"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="1b88a246-cf95-94ee-3710-0294d1253315"] {
    display: none;
    opacity: 0.01;
    width: 0%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="e665a47e-03df-db32-28f5-b1ac2eaa5067"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="be85670b-7820-585c-b9d0-d04cf41f0417"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf2e"] {
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e9d6419-3f2a-0405-3947-e49d986bef2e"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="4a31b02d-fc53-ebc1-17d8-b14705020607"] {
    -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac752"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac754"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac755"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="602cc19b-fb96-91cd-ea93-7e2ca08404fc"] {
    display: none;
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="602cc19b-fb96-91cd-ea93-7e2ca08404ff"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="602cc19b-fb96-91cd-ea93-7e2ca08404fe"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac751"] {
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a145e"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a1460"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a1461"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a7d4b4bc-6acd-6d44-8c84-e6954ddaa24e"] {
    display: none;
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a7d4b4bc-6acd-6d44-8c84-e6954ddaa251"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a7d4b4bc-6acd-6d44-8c84-e6954ddaa250"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a145d"] {
    -webkit-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c2"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c4"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c5"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="cee2d40d-00b3-df63-99a1-8984a30d2029"] {
    display: none;
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="cee2d40d-00b3-df63-99a1-8984a30d202c"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="cee2d40d-00b3-df63-99a1-8984a30d202b"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c1"] {
    -webkit-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="b05ed4f0-4111-853d-aabc-465a6c91a17a"] {
    opacity: 0.3;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="697d02a9-65dd-8d45-8c61-f13fd234974d"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf30"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf31"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="1b88a246-cf95-94ee-3710-0294d1253315"] {
    display: none;
    opacity: 0.01;
    width: 0%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="e665a47e-03df-db32-28f5-b1ac2eaa5067"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="be85670b-7820-585c-b9d0-d04cf41f0417"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf2e"] {
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e9d6419-3f2a-0405-3947-e49d986bef2e"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="4a31b02d-fc53-ebc1-17d8-b14705020607"] {
    -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac752"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac754"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac755"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="602cc19b-fb96-91cd-ea93-7e2ca08404fc"] {
    display: none;
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="602cc19b-fb96-91cd-ea93-7e2ca08404ff"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="602cc19b-fb96-91cd-ea93-7e2ca08404fe"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac751"] {
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a145e"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a1460"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a1461"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a7d4b4bc-6acd-6d44-8c84-e6954ddaa24e"] {
    display: none;
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a7d4b4bc-6acd-6d44-8c84-e6954ddaa251"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a7d4b4bc-6acd-6d44-8c84-e6954ddaa250"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a145d"] {
    -webkit-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c2"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c4"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c5"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="cee2d40d-00b3-df63-99a1-8984a30d2029"] {
    display: none;
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="cee2d40d-00b3-df63-99a1-8984a30d202c"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="cee2d40d-00b3-df63-99a1-8984a30d202b"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c1"] {
    -webkit-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="b05ed4f0-4111-853d-aabc-465a6c91a17a"] {
    opacity: 0.3;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="697d02a9-65dd-8d45-8c61-f13fd234974d"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf30"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf31"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="1b88a246-cf95-94ee-3710-0294d1253315"] {
    display: none;
    opacity: 0.01;
    width: 0%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="e665a47e-03df-db32-28f5-b1ac2eaa5067"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="be85670b-7820-585c-b9d0-d04cf41f0417"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf2e"] {
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e9d6419-3f2a-0405-3947-e49d986bef2e"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="4a31b02d-fc53-ebc1-17d8-b14705020607"] {
    -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac752"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac754"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac755"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="602cc19b-fb96-91cd-ea93-7e2ca08404fc"] {
    display: none;
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="602cc19b-fb96-91cd-ea93-7e2ca08404ff"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="602cc19b-fb96-91cd-ea93-7e2ca08404fe"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac751"] {
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a145e"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a1460"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a1461"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a7d4b4bc-6acd-6d44-8c84-e6954ddaa24e"] {
    display: none;
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a7d4b4bc-6acd-6d44-8c84-e6954ddaa251"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a7d4b4bc-6acd-6d44-8c84-e6954ddaa250"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a145d"] {
    -webkit-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    width: 25%;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c2"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c4"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c5"] {
    -webkit-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="cee2d40d-00b3-df63-99a1-8984a30d2029"] {
    display: none;
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="cee2d40d-00b3-df63-99a1-8984a30d202c"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="cee2d40d-00b3-df63-99a1-8984a30d202b"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="2ff84a05-2905-9869-b0e9-ee8f9c2991c1"] {
    -webkit-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    width: 25%;
  }
}
@media (max-width: 479px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="1b88a246-cf95-94ee-3710-0294d1253315"] {
    opacity: 0;
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf31"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="34b36b12-584f-4f70-d05b-54e685b2cf30"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="602cc19b-fb96-91cd-ea93-7e2ca08404fc"] {
    opacity: 0;
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac755"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="79094ce1-7308-6f1a-1195-92d44a0ac754"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a7d4b4bc-6acd-6d44-8c84-e6954ddaa24e"] {
    opacity: 0;
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a1461"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9919f10a-0cf1-d01b-2179-0e43b89a1460"] {
    opacity: 1;
  }
}